html, body {
    margin: 0;
    padding: 0;
  }
body{
    background-image: url('./inline_image_preview.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:top;
    color: papayawhip;
    text-shadow: 2px 2px #242323;;
}
header{
    background-color: #00CED1;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
.container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 100px;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    padding-left: 20px;
}
#titulo {
    text-align: center;
}
p {
    width: 600px;
}
p, figcaption{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
td{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
table {
    border-style: initial;
    padding-left: 20px;
}
.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 200px;
}
#perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contato{
    text-align: left;
    padding-left: 20px;
}
.container {
    display: flex;
    justify-content: center;
}
audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
footer{
    background-color: lawngreen;
    text-align: center;
    padding: 50px;
}